player-connection-mode=Listen
player-connection-guid=2750108975
player-connection-debug=1
player-connection-project-name=GPG222-Social-Hangout
player-connection-ip=192.168.1.135
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=353407d78ad04000b37f6c526d6095d5
